<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>To-Do List</title>
	<script th:inline="javascript" type="text/javascript" src="/assets/todo.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<body>
	<div class="container mt-3">
		<h1>To-Do List</h1>
		<!-- To-Do List Form -->
		<form action="/addTodo" method="post">
			<div class="form-group">
				<label for="taskName">Task Name</label>
				<input type="text" class="form-control" id="taskName" name="taskName" required />
			</div>
			<div class="form-group">
				<label for="dueDate">Due Date</label>
				<input type="date" class="form-control" id="dueDate" name="dueDate" required />
			</div>
			<button type="submit" class="btn btn-primary">Add Task</button>
		</form>
		<hr />
		<!-- To-Do List Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Task Name</th>
					<th>Due Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- To-Do List Tasks -->
				<tr th:if="${#lists.isEmpty(tasks)}">
					<td colspan="3" class="text-center">No tasks found</td>
				</tr>
				<tr th:each="task : ${tasks}">
					<td th:text="${task.taskName}"></td>
					<td th:text="${task.dueDate}"></td>
					<td class="edit-delete-btn">
						<button class="btn btn-warning" data-toggle="modal" data-target="#editModal"
							th:onclick="editTask([[${task.taskId}]])">
							Edit
						</button>
						<button class="btn btn-danger" type="button" th:onclick="deleteById([[${task.taskId}]])">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Edit Task</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/editTodo" method="post">
						<input type="hidden" id="taskIdEdit" name="taskId">
						<div class="form-group">
							<label for="taskNameEdit">Task Name</label>
							<input type="text" class="form-control" id="taskNameEdit" name="taskName" required>
						</div>
						<div class="form-group">
							<label for="dueDateEdit">Due Date</label>
							<input type="date" class="form-control" id="dueDateEdit" name="dueDate" required>
						</div>
						<button type="submit" class="btn btn-primary">Save Changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Bootstrap License Info -->
	<footer class="container mt-3 text-center fixed-bottom">
		<p>Powered by <a href="https://getbootstrap.com/">Bootstrap</a></p>
		<p>
			Bootstrap is licensed under the
			<a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">MIT License</a>.
		</p>
	</footer>
</body>

</html>